* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

html {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
    background-color: rgb(41, 64, 132);
}

.header-child {
    height: 9vh;
    width: 14rem;
    display: flex;
    font-size: 0.8rem;
}

.books {
    margin-right: 1rem;
}

.contact-us {
    margin-left: 1rem;
}

nav {
    margin-right: 1rem;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nbt-logo {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

.nbt-title {
    margin-left: .5rem;
    margin-top: 0.5rem;
}

#logo {
    height: 60px;
    width: 60px;
}

body {
    background-color: #4065d0;
    min-height: 100%;
}

main {
    height: calc(100vh - 9vh);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    line-height: 1.8;
    font-size: 1.5rem;
} 

.blue {
    color: blue;
}

.wrapper {
    height: 80%;
    width: 80%;
    padding-top: 4rem;
}

@media (max-width: 700px) {
    main {
        line-height: 1.4;
        font-size: 1.25rem;
    }
}

@media (max-width: 400px) {
    main {
        line-height: 1.2;
        font-size: 1rem;
    }

    .wrapper {
        padding-top: 0rem;
        width: 95%;
    }
}